<!DOCTYPE html>

<html>
<head>
<title> Pusula </title>
<link href="./css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<div class= "custom-info">
    <fieldset>
                    <legend>Komutlar</legend>

                    <label> Yazı </label>
                    <input type= "text" name= "mesaj">
            </div>
</fieldset>
</div>


</body>

</html>
<style rel= "stylesheet">